<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-brand">Fort Tranquility B&B</span>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-nav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            Our Rooms
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="generals.html">General's Quarters</a></li>
                            <li><a class="dropdown-item" href="majors.html">Major's Suite</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="availability.html">Book Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Search for Availability Form -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6">
            <h2 class="mt-3">Search for Availability</h2>

            <form action="" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="startDate" class="form-check-label">Start Date</label>
                            <input type="date" class="form-control form-check-input" id="startDate" aria-describedby="startDateHelp" name="start_date" required>
                            <div id="startDateHelp" class="form-text">Enter your starting date in the form of YYYY-MM-DD</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="endDate" class="form-check-label">End Date</label>
                            <input type="date" class="form-control form-check-input" id="endDate" aria-describedby="endDateHelp" name="end_date" required>
                            <div id="endDateHelp" class="form-text">Enter your end date in the form of YYYY-MM-DD</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>