{{ define "base" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fort Tranquility B&B</title>

        <!-- Bootstrap CSS -->
        {{ template "bootstrap-css" . }}

        <!-- custom CSS -->
        {{ template "custom-css" . }}
    </head>
    <body>
        <!-- Navigation bar -->
        {{ template "nav" .}}

        <!-- Page content -->
        {{ block "content" . }}

        {{ end }}
        <!-- Bootstrap JavaScript -->
        {{ template "bootstrap-js" .}}

        <!-- SweetAlert JS -->
        {{ template "sweetalert-js" .}}

        <!-- Custom JavaScript -->
        {{ block "js" . }}
        {{ end }}
    </body>
    </html>
{{ end }}