{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="../static/images/generals-quarters.png" alt="Generals Quarters" class="img-fluid mt-3 image-thumbnail room-img">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-3">General's Quarters</h1>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-12 text-center">
                <a href="/make-reservation-gq" class="btn btn-success">Check Availability</a>
            </div>
        </div>
    </div>
{{ end }}

{{ define "js" }}
    <script>
        let attention = Prompt();

        document.querySelector('.btn-success').addEventListener('click', function (event) {
            const html = `<form action="" method="POST" class="needs-validation" novalidate id="reservationForm">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <input type="date" class="form-control" id="startDate" name="start_date" aria-describedby="startDateHelp" required placeholder="Arrival">
                                <div id="startDateHelp" class="form-text">Enter your arrival date (YYYY-MM-DD)</div>
                            </div>
                            <div class="col">
                                <input type="date" class="form-control" id="endDate" name="end_date" aria-describedby="endDateHelp" required placeholder="Departure">
                                <div id="endDateHelp" class="form-text">Enter your departure date (YYYY-MM-DD)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>`;
            event.preventDefault(); // Prevent the default action of the button
            attention.reserve({
                title: "Check Availability",
                message: html,
                callback: function () {
                    console.log("called")

                    let form = document.getElementById('reservationForm');
                    if (!form.checkValidity()) {
                        form.classList.add('was-validated');
                        return;
                    }
                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{ .CSRFToken }}");

                    fetch('/availability-json', {
                        method: 'POST',
                        body: formData
                    })
                        .then((response) => { return response.json();})
                        .then((data) => {
                            let available = false;
                            if(data.ok) {
                                available = true;
                            }

                            if (available) {
                                attention.success({
                                    title: "Room Available!",
                                    message: "The General's Quarters is available for your selected dates. Please proceed to the reservation page.",
                                    icon: "success",
                                    footer: '<a href="/make-reservation-gq">Make a Reservation</a>'
                                });
                            } else {
                                attention.error({
                                    title: "No Availability",
                                    message: "Unfortunately, the General's Quarters is not available for your selected dates. Please try different dates or contact us for assistance.",
                                    icon: "error",
                                });
                            }
                        }).catch((error) => {
                            attention.error({
                                title: "Error",
                                message: "An error occurred while checking availability. Please try again later.",
                                icon: "error",
                            });
                            console.error('Error:', error);
                        })
                }
            });
        });
    </script>
{{ end }}