{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="../../static/images/majors-suite.png" alt="Generals Quarters" class="img-fluid mt-3 image-thumbnail room-img">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-3">Major's Suite</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <a href="/make-reservation-ms" class="btn btn-success">Check Reservation</a>
            </div>
        </div>
    </div>
{{ end }}