{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-3">Make Reservation</h1>
            </div>
        </div>

        <!-- Reservation Form -->
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-8">
                {{ $res := index .Data "reservation"}}
                <form action="" method="POST" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                {{ with .Form.Errors.Get "first_name" }}
                                    <label class="text-danger">{{ . }}</label>
                                {{ end }}
                                <input type="text" class="form-control {{ with .Form.Errors.Get "first_name"}} is-invalid {{ end }}"
                                       id="firstName" aria-describedby="firstNameHelp"
                                       name="first_name" required autocomplete="off" value="{{ $res.FirstName }}">
                                <div id="firstNameHelp" class="form-text">Enter your first name </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                {{ with .Form.Errors.Get "last_name" }}
                                    <label class="text-danger">{{ . }}</label>
                                {{ end }}
                                <input type="text" class="form-control {{ with .Form.Errors.Get "last_name"}} is-invalid {{ end }}" id="lastName"
                                       aria-describedby="lastNameHelp" name="last_name"
                                       required autocomplete="off" value="{{ $res.LastName }}">
                                <div id="lastNameHelp" class="form-text">Enter your last name</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    {{ with .Form.Errors.Get "email" }}
                                        <label class="text-danger">{{ . }}</label>
                                    {{ end }}
                                    <input type="email" class="form-control {{ with .Form.Errors.Get "email"}} is-invalid {{ end }}" id="email" aria-describedby="emailHelp"
                                           name="email" required autocomplete="off" value="{{ $res.Email }}">
                                    <div id="emailHelp" class="form-text">Enter your Email Address</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    {{ with .Form.Errors.Get "phone" }}
                                        <label class="text-danger">{{ . }}</label>
                                    {{ end }}
                                    <input type="text" class="form-control {{ with .Form.Errors.Get "phone"}} is-invalid {{ end }}" id="phone" aria-describedby="phoneHelp"
                                           name="phone" required autocomplete="off" value="{{ $res.Phone }}">
                                    <div id="phoneHelp" class="form-text">Enter your Phone Number</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{{ end }}

{{ define "js" }}
    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                let forms = document.getElementsByClassName('needs-validation');
                Array.prototype.forEach.call(forms, function(form) {
                    form.addEventListener('submit', function(e) {
                        if (form.checkValidity() === false) {
                            e.preventDefault();
                            e.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false)
                })
            }, false)
        })();
    </script>
{{ end }}